/* Controls Component */

.controls {
  border: 1px solid black;
  width: 325px;
  padding: 10px;
}

.backBtn,
.playBtn,
.ffBtn {
  margin-top: 30%;
}

.btnCont {
  display: inline-block;
  height: 75px;
  width: 75px;
  border: 1px solid black;
  text-align: center;
  margin-left: 20px;
  border-radius: 20px;
}

.btnCont:hover {
  background-color: lightgrey;
}

.btnCont:active {
  background-color: grey;
}
